:root {
    --main: #2F3A4C;
    --green: #138a07;
    --dark-green: #246B1E;
    --light-gray: #E7E9EE;
}

.codeflask__flatten {
    white-space: pre-wrap !important;
}

.codeflask__flatten,
.codeflask__lines__line {
    font-size: 18px !important;
}

.language-cldlang .name {
    color: #0000FF;
}

.language-cldlang .positive, .negative, .default {
    color: #C73544;
}

body {
    padding: 0;
    margin: 0;
}

#content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--main);
    padding-left: 6px;
    padding-right: 6px;
}

.section-header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 32px;
    padding: 2px 2px 6px 2px;
    background-color: var(--main);
}

.section-header-title span {
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    margin-left: 2px;
}

.section {
    height: 100vh;
    box-sizing: border-box;
    background-color: #ffffff;
}

.section:first-child {
    /* border-right: 6px solid var(--main); */
    margin-right: 6px;
}

#compile-button {
    background-color: var(--green);
    box-sizing: content-box;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    height: 100%;
    font-size: 18px;
    color: #ffffff;
}

#compile-button:hover {
    background-color: var(--dark-green);
}

#compile-button:active {
    border: 1px solid #ffffff;
}